#bottom-bar {
    -fx-background-color: #ffbd00;
}

#msgContainer {
    -fx-background-color: #3caef5;
    -fx-border-width: 0;
}

#msgContainer .scroll-bar:vertical .track {
    -fx-background-color: #3caef5;
}

#msgContainer .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

#msgContainer .scroll-bar:vertical .increment-button,
#msgContainer .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#msgContainer .scroll-bar .increment-arrow,
#msgContainer .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

VBox {
    -fx-spacing: 5;
    -fx-padding: 5 10 5 10;
}

.send-btn {
    -fx-background-image: url("../img/send.png");
    -fx-background-size: 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

TextFlow {
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 11;
}

.time TextFlow Text {
    -fx-fill: #a7defc;
}

.time TextFlow {
    -fx-max-width: 270px;
    -fx-text-alignment: center;
    -fx-font-size: 10;
    -fx-padding: 15px 0 0 0;
    -fx-border-color: transparent;
}

.info TextFlow Text {
    -fx-fill: #ffffff;
}

.info TextFlow {
    -fx-max-width: 270px;
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-padding: 5px 15px 4px 15px;
}

.adversary TextFlow Text {
    -fx-fill: #34495e;
}

.adversary TextFlow {
    -fx-max-width: 200px;
    -fx-background-color: #c1e7fc;
    -fx-padding: 5px 10px 4px 10px;
}

.user TextFlow Text {
    -fx-fill: #c1e7fc;
}

.user TextFlow {
    -fx-max-width: 200px;
    -fx-text-alignment: right;
    -fx-background-color: #34495E;
    -fx-padding: 5px 10px 4px 10px;
}