#deck {
    -fx-background-color: #3498db;
    -fx-border-color: #000;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 10;
}

.table {
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.table StackPane {
    -fx-background-color: #3498db;
    -fx-border-color: #2c3e50;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-insets: 5px 8.5px;
    -fx-border-insets: 5px 8.5px;
    -fx-padding: -1px;
}

.table StackPane Label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: #fff;
}

.table StackPane.final {
    -fx-background-color: #c02b70;
}

.avatar {
    -fx-background-color: #fff;
}