Button {
    -fx-background-color: #2ecc71;
    -fx-border-color: #fff;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 5;
    -fx-font-family: "Helvetica";
    -fx-font-weight: 800;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;

}

Button:hover {
    -fx-background-color: #2dbb67;
    -fx-cursor: hand;
}

Button.secondary {
    -fx-background-color: #e67e22;
}

Button.secondary:hover {
    -fx-background-color: #d26e22;
    -fx-cursor: hand;
}

Button:disabled {
    -fx-background-color: #b1b1b1 !important;
    -fx-opacity: 1.0;
}

#bottom-bar {
    -fx-background-color: #ffbd00;
}

