AnchorPane {
    -fx-background-color: #3caef5;
}

Button {
    -fx-background-color: #2ecc71;
    -fx-border-color: #fff;
    -fx-border-width: 2;
    -fx-border-radius: 2;
    -fx-background-insets: 0 0 1px 0;
}

Button:hover {
    -fx-background-color: #2dbb67;
    -fx-cursor: hand;
}
