#main {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5px;
    -fx-border-color: #2c3e50;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#main Label {
    -fx-text-fill: #2c3e50;
    -fx-padding: 0;
    -fx-font-family: Helvetica;
    -fx-font-weight: 800;
}

#letter {
    -fx-font-size: 30px;
}

#point {
    -fx-font-size: 16px;
}

#main.bonus {
    -fx-background-color: #f1cd0f;
    -fx-border-color: #dc4c18;
}

#main.bonus Label {
    -fx-text-fill: #dc4c18;
}